<!DOCTYPE html>
<html>
<head>
	<title>
		Add Doctor
	</title>
</head>
<body>
<form action="/api/v1/addnew/doctor" method="post">
	<label>
		Doctor Name
	</label><br>
	<input type="text" name="name" placeholder="Enter name" required><br>
<label>
		Doctor username
	</label><br>
	<input type="text" name="username" placeholder="Enter username" required><br>
<label>
		Password
	</label><br>
	<input type="Password" name="password" placeholder="Enter Password" required><br>
<label>
		Specialization
	</label><br>
	<input type="text" name="spec" placeholder="Specialization" required><br>
<label>
		Doctor OPD Room
	</label><br>
	<input type="number" name="room" placeholder="OPD Room" required><br>
<label>
		Doctor Active
	</label><br>
	<input type="number" name="active" placeholder="Active" required><br><label>
		Doctor Discount
	</label><br>
	<input type="number" name="discount" placeholder="Discount" required><br>

	<BUTTON>
		Submit
	</BUTTON>
</form>
</body>
</html>